/* src/app/globals.css */
@import "tailwindcss";

:root {
  --background: #FAFAFA;
  --foreground: #1F2937;
  
  --mint: #D1FAE5;
  --mint-dark:  #0cd4c5;
  --pink: #F9A8D4;
  --pink-dark: #F472B6;
  
  --text-muted: #6B7280;
  --border: #E5E7EB;
  --admin: #9333EA;
  --admin-dark: #7E22CE;
  
  /* 👇 Шрифты */
  --font-sans: var(--font-inter), system-ui, -apple-system, sans-serif;
  --font-serif: var(--font-playfair), Georgia, serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-serif);
}

button {
  cursor: pointer;
}

html, body {
  overflow-x: hidden;
  width: 100%;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}